
<div ng-controller="myCtrl" >
    <!-- <p>{{ans}}</p>-->
    </div>   
    <mat-card>
        Name:{{forces.name}}<br><br>
        Telephone Number: {{forces.telephone}}<br><br>
       <div class="mat-h3" [innerHTML]='forces.description'></div>
        <a href="{{forces.url}}">
            Station Site</a>
        <!--
         <span *ngFor = "let photo of photos$ ">
            <span *ngIf = "post.id==photo.id">
              {{photo.completed}}
              <mat-card-actions>
              
              </mat-card-actions>
            </span>
        </span>     
        --> 
      </mat-card>