<!-- <div>
<div class="reks" *ngIf="reks$ | async as reks">
    <mat-expansion-panel *ngFor = "let rek of reks">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{rek.name}}
            
          </mat-panel-title>
        </mat-expansion-panel-header >
            <mat-card-actions>
            </mat-card-actions>  
      </mat-expansion-panel>
</div>

</div>  -->
{{body | json}}
 <div ng-controller="myCtrl">
    <p>{{ans}}</p>
    </div> 
    {{reks$}} 
    {{body}} 
    <mat-accordion>
        <mat-expansion-panel *ngFor = "let rek of reks$">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{rek.lable}}
            </mat-panel-title>
          </mat-expansion-panel-header >
        
         <span *ngFor = "let photo of photos$ ">
            <span *ngIf = "post.id==photo.id">
              {{photo.completed}}
              <mat-card-actions>
                
              </mat-card-actions>
            </span>
        </span>     
        </mat-expansion-panel>
      </mat-accordion> 
