<span *ngIf = "(authService.user | async)?.uid" >
<div class="example-button-row">
    <button 
       mat-raised-button color="primary"
       [routerLink]="'/generalform'">
       Add Criminal
    </button>
  </div>
  <p *ngIf="!(generals$ | async)">loading generals...</p>
  <mat-accordion >
      <mat-expansion-panel *ngFor = "let general of generals$ | async">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{general.title}}
          </mat-panel-title>
          <!-- For books
        </mat-expansion-panel-header> 
        by {{general.author}} 
          <button mat-raised-button 
                  color="primary"
                  (click) = deleteGeneral(general.id)>
            Delete
          </button> 
          <button 
          mat-raised-button color="primary"
          [routerLink]="'/generalform/'+general.id">
            Edit
          </button>        
      </mat-expansion-panel>
    -->
      </mat-expansion-panel-header> 
      Date of arrest: {{general.date.toDate() | date:'mediumDate'}} <br>
      Prison: {{general.hall}} <br>
        <button mat-raised-button 
                color="primary"
                (click) = deleteGeneral(general.id)>
          Delete
        </button> 
        <button 
        mat-raised-button color="primary"
        [routerLink]="'/generalform/'+general.id">
          Edit
        </button>        
    </mat-expansion-panel>
    </mat-accordion>
  </span>