<!-- <p>rekognition works!</p>
<mat-card>
    <h1>Classify a Crime</h1>
    <form #classifyForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container"> 
        <mat-form-field style="width: 400px;">
            <textarea 
                matInput placeholder="To classify"
                [(ngModel)] = "text"
                name = "text"
                cdkTextareaAutosize
                cdkAutosizeMinRows="10"
                cdkAutosizeMaxRows="20"                            
            >
            </textarea>      
        </mat-form-field>                   
        <div >
            <button mat-raised-button color="primary" [disabled]="!text" >Classify</button>
        </div>
      </div>
    </form>
    </mat-card> -->
<mat-card>
    <div class="main">
        <h1>Please upload your image</h1>
        <input (change)="onFilePicked($event)" class="custom-file-input"
               placeholder="Upload File" type="file" />
        <button mat-raised-button color="primary" (click)="onFileUpload()" class="myButton" >Upload Image</button>
        <p *ngIf="errorMsg"> Please Select A File</p>
      </div>
</mat-card>
<!-- <label class="image-upload-container btn btn-bwm">
    <span>Select Image</span>
    <input #imageInput
           type="file"
           accept="image/*"
           (change)="processFile(imageInput)">
  </label>
  
  
  <div *ngIf="selectedFile" class="img-preview-container">
  
    <div class="img-preview{{selectedFile.status === 'fail' ? '-error' : ''}}"
         [ngStyle]="{'background-image': 'url('+ selectedFile.src + ')'}">
    </div>
  
    <div *ngIf="selectedFile.pending" class="img-loading-overlay">
      <div class="img-spinning-circle"></div>
    </div>
  
    <div *ngIf="selectedFile.status === 'ok'" class="alert alert-success"> Image Uploaded Succesfuly!</div>
    <div *ngIf="selectedFile.status === 'fail'" class="alert alert-danger"> Image Upload Failed!</div>
  </div> -->