<!-- this form displays data from json-->

<div ng-controller="myCtrl">
    <!-- <p>{{ans}}</p>-->
    </div>   
    <mat-accordion>
        <mat-expansion-panel *ngFor = "let crime of crimes$">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{crime.name}}
            </mat-panel-title>
          </mat-expansion-panel-header >
         <!--
         <span *ngFor = "let photo of photos$ ">
            <span *ngIf = "post.id==photo.id">
              {{photo.completed}}
              <mat-card-actions>
                 -->
        <button 
                 mat-raised-button color="primary"
        [routerLink]="'/station/'+crime.id">
        More detales</button>
                <!--
              </mat-card-actions>
            </span>
        </span>     
        --> </mat-expansion-panel>
      </mat-accordion>